@{
    ViewBag.Title = "Yhteystiedot";
}
<br>
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Valtatie 69<br />
    00700 Internet<br />
    <abbr title="Phone">P:</abbr>
    0400 - 111222
</address>

<address>
    <strong>Tuki:</strong>   <a href="mailto:Tuki@tilausdb.com">Tuki@tilausdb.com</a><br />
</address>