@{
    ViewBag.Title = "Kotisivu";
}
<script src="https://kit.fontawesome.com/yourcode.js" crossorigin="anonymous"></script>
<div class="jumbotron">
    <br>
    <h1>TilausDB - ASP.NET MVC sovellusten toteuttaminen jatkokurssi</h1>
    <p class="lead">Tällaista työtä teemme Careeriassa.</p>

    @*Modal -tyyppisen ikkunan avauspainike*@
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#LoginRuutu">Kirjautuminen</button>

    @*Modal -tyyppisen ikkunan koodiesimerkki*@
    <div class="modal" id="LoginRuutu">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1> Kirjautuminen Northwind-järjestelmään</h1>
                </div>
                <div class="modal-body">
                    <p>Tässä voi luetella mitä haluaa</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Kirjaudu</button>
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Peruuta</button>
                </div>
            </div>
        </div>
    </div>

</div>

<div class="row">
    <div class="col-md-4">
        <h2>Northwind-tietokanta</h2>
        <p>
            Tämä on koulutehtävä.
            <br>
            <a href="https://careeria.fi/" class="btn btn-primary btn-lg fas fa-home"> Careerian kotisivut</a>
        </p>
    </div>
</div>