@{
    ViewBag.Title = "Kotisivu";
}

<div class="jumbotron">
    <br>
    <h1>TilausDB</h1>
    <p class="lead">Tämä on kotisivu.</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Alaotsikko</h2>
        <p>
            Tämä on koulutehtävä.
        </p>
</div>