@{
    ViewBag.Title = "Kotisivu";
}
<script src="https://kit.fontawesome.com/yourcode.js" crossorigin="anonymous"></script>
<div class="jumbotron">
    <br>
    <h1>TilausDB</h1>
    <p class="lead">Tämä on kotisivu.</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Alaotsikko</h2>
        <p>
            Tämä on koulutehtävä.
            <br>
            <a href="https://careeria.fi/" class="btn btn-primary btn-lg fas fa-home"> Careerian kotisivut</a>
        </p>
</div>